/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #f8f8ff;
  color: slategrey;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-left: 5px;
  font-family: verdana, arial, sans-serif;
}

p {
  margin-left: 5px;
}

button {
  margin-left: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.hidden {
  display: none;
}

#button1 {
  background: #ebffeb;
}

#button2 {
  background: #e3ffff;
}

#button3 {
  background: #ffe3e0;
}

#button4 {
  background: #fff7d6;
}

#button1:active,
#button1.lit {
  background: #baffba;
  box-shadow: 0 5px 40px #baffba;
  outline: none;
}

#button2:active,
#button2.lit {
  background: #abffff;
  box-shadow: 0 5px 40px #abffff;
  outline: none;
}

#button3:active,
#button3.lit {
  background: #ffc3bd;
  box-shadow: 0 5px 40px #ffc3bd;
  outline: none;
}

#button4:active,
#button4.lit {
  background: #ffeb9e;
  box-shadow: 0 5px 40px #ffeb9e;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
